#projectbox{
  margin-top: 100px;
  margin-left: 7%;
  width: 72%;
}




body{
background-color: #f2f6f8;
margin: 0px;
padding: 0px;
/* text-transform: uppercase; */
}


p{
  color: gray;
  font-size: 15px;
}

#newproject1{
  display: flex;
  
}


#project-bar{
  background-color: white;
  /* border: 2px solid rgb(48, 48, 48); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* width: 100%; */
  /* height: 50px; */
  display: flex;
justify-content: space-evenly;
  

}
#createbtn{
  background-color:  #4a47ff;
  cursor: pointer;
  color: white;
  height: 45px;
  margin-top: 30px;
  margin-left: 81%;
  border: none;
  font-size:15px;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#createbtn:hover{
  transition: all .5s ease;
  background-color:  #0501fa;
}
#apply_filter{
  background-color: white;
  color:  #03a9f4;
  border:1px solid  #03a9f4;
  height: 30px;
  margin-top: 10px;
}
#apply_filter:hover{
  background-color:  #03a9f4;
  color: white;
  
}

#projectsearch{
  display: flex;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
 
  
}




/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} 

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:white;}


#selector1{
  border: none;
  padding: 5px;
  margin-top: 10px;
}


#project2{
  background-color: #E4EAEE;
   width: 81%;
   height: 40px;
   /* margin-top: 50px; */
   margin-left: 143px;
   border: 1px solid gray;
   color: gray;
}


#pvalue{
  background-color: white;
  border: 1px solid gray;
  width: 81%;
   height: 40px;
   margin-left: 143px;
   color: gray;

}


#create_popup{
  background-color: white;
  height: 320px;
  width:500px;
  border: 1px ridge blue;
  border-radius: 7px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-bottom: 50px;
  position: fixed;
  left: 30%;
  top: -120%;
  transition: all 1s;
  margin-left: 5%;
}



#create_div{
text-align: center;
}

#craetebtn{
  background-color: #03a9f4;
  color:  white;
  border:.5px solid  #03a9f4;
  height: 30px;
  margin-top: 20px;
  margin-left: 60px;
  border-radius: 5px;
}

#craetebtn:hover{
  background-color: #034ff4;
}

#cancelbtn{
background-color:transparent;
/* margin-left: 300px; */
border: .5px ridge #03a9f4;
margin-top: 20px;
border-radius: 5px;
}

#cancelbtn:hover{
  background-color: #03a8f46e;
 
}

#alert_save{
  position: fixed;
  left: 30%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 40%;
  padding-bottom: 30px;
  top: -120%;
  transition: all 1s;
 
}
#alert_save>div:nth-child(1){
  background-color: #03a9f4;
  padding: 10px;
  color: #ffffff;
}

#alert_save>div:nth-child(2){
  margin: auto;
  text-align: center;
  padding: 30px;
  color: #475056;
}
#alert_save>div:nth-child(3){
  text-align: center;
}
#alert_save>div>button{
  padding: 10px 12px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #475056;
  cursor: pointer;
}
#alert_save>div>button:nth-child(2){
  background-color: red;
  color: white;
}

/* #project_saved{
  margin-left: 20px;
} */

#project_saved>div{
display: flex;
padding:5px;
text-transform: capitalize;
border: 1px solid gray;
margin: auto;
width: 86pc;
background-color: white;
justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.itemfunc1{
  padding: 3px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  height: 40px;
  margin-top: 10px;
  border: 1px ridge red;
}
.itemfunc1:hover , .itemfunc1:focus{
  background-color:rgba(255, 0, 0, 0.678);
  color:white;
}

.itemfunc2{
  padding: 3px;
  background-color: gray;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  height: 40px;
  margin-top: 10px;
  border: 1px ridge gray;
}
.itemfunc2:hover , .itemfunc2:focus{
  background-color:rgba(128, 128, 128, 0.678);
  color:white;
}


.project_details{
  margin-top: 14%;
  margin-left: -1530px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  width: 89%;
}
