#project{
    width: 100%;
    height:auto;
    display: grid;
    grid-template-columns:repeat(6,1fr);
}
.controls{
    display:grid ;
    grid-template-columns: repeat(2,1fr);
}
.watch{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#appenddiv{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}